html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.player-name {
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-top: 50px;
}

#grid {
  display: grid;
  height: 100%;
  width: 100vh;

  /* fixme - dynamic based on size */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.square {
  border: 1px solid black;
}

.square.ship {
  /* background: black; */
}

.square.hit {
  background: red;
}

.square.miss {
  background: blue;
}

.square.sunk {
  background: pink;
}
